@use "../abstracts/" as *;

@font-face {
  font-family: "Fraunces";
  font-weight: 0 900;
  src: url("/assets/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow-bold";
  src: url("/assets/fonts/Barlow/Barlow-Bold.ttf");
}

body {
  font: 400 1rem / normal "Barlow", sans-serif;
  color: $clr-grey-900;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: "Fraunces";
  font-weight: 900;
}

:where(.nav) {
  font-family: "Barlow-bold";
  color: $clr-grey-300;
}
